/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #033254;/*#054676;*/
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #6fa2cc;/*#1493fb;*/
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family);
	color: var(--text-color);
}
html {
  --s: 50px;
  --c: #fff;
  --c1: #f3f3f3;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,var(--c1) 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--c) 66%,var(--c1) 68% 70%,var(--c) 72%) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
  font-size: 18px;
}
@media (prefers-color-scheme: dark) {
	html {
	  --c: #15202b;
  	--c1: #25272e;
	}
}
body {
	max-width: 1400px;
	margin: 0 auto;
	min-height: 100vh;
	display: grid;
	grid-template-columns: minmax(0,1fr) 450px;
}
@media (max-width: 1000px) {
	body {
		grid-template-columns: minmax(0,1fr) 350px;
	}
}
@media (max-width: 800px) {
	body {
		grid-template-columns: minmax(0,1fr);
	}
}
header,
footer {
	grid-column: 1/-1;
}
aside {
	padding: 1rem;
	display: grid;
    align-content: start;
    gap: 1rem;
}
footer {
	margin-top: auto;
	text-align: center;
	padding: 0 1rem;
	border-image:linear-gradient(to bottom,var(--color-gray-20) 1px,#0000 0) fill 0//0 100vw
}
footer a {
	display: inline-block;
}
h1 {
  margin: 0.25em 0 .5em;
  font-size: 2.5rem;
  text-wrap: pretty;
  text-transform: capitalize;
}
p {
	text-wrap: pretty;
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
p,li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
/*a[href]:visited {
	color: var(--text-color-link-visited);
}*/
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}
main {
	padding: 1rem;
}
main img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem auto;
  display: block;
}

.links-nextprev {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 1em;
	font-size: 1.15em;
}
.links-nextprev .prev{
  margin-right: auto;
}
.links-nextprev .next{
  margin-left: auto;
}
.links-nextprev a:not(:hover) {
	text-decoration: none;
}
.links-nextprev a {
	position: relative;
}
.links-nextprev .prev a:before {
  content: "";
  position: absolute;
  inset: 0 100% 0 auto;
  width: 1em;
  margin-right: 0.3em;
  background: currentColor;
  clip-path: polygon(100% 0,0 50%,100% 100%);
}
.links-nextprev .next a:after {
  content: "";
  position: absolute;
  inset: 0 auto 0 100%;
  width: 1em;
  margin-left: 0.3em;
  background: currentColor;
  clip-path: polygon(0 0,100% 50%,0 100%);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	tab-size: 2;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
pre[class*=language-] {
    margin: 1.5em 0;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	border-image:linear-gradient(to top,var(--color-gray-20) 1px,#0000 0) fill 0//0 100vw
}
@media (max-width:540px) {
	header {
		display: grid;
		place-items: center;
		place-content: center;
	}
}
.home-link {
	font-size: 2em; 
	font-weight: 700;
	text-decoration: none;
	color:var(--text-color)!important
}

/* Nav */
nav {
	margin: auto;
}
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	gap: 1.5em;
	font-size: 1.1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
	text-wrap: pretty;
}
.postlist > * {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 1em;
	position: relative;
	font-size: 1.1em;
}
.postlist > *:before {
    pointer-events: none;
    content: "â‹";
    line-height: 100%;
    position: absolute;
    right: calc(100% + .5em);
    top: .7em;
}
.postlist time,
.postlist > *:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist time{
	word-spacing: -0.5px;
}
.postlist a {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	padding-right: .5em;
	text-underline-position: from-font;
	text-transform: capitalize;
}
[data-ea-type=text] + p {
    margin-top: 0;
}

/* Tags list */
h1 + time {
	display: block;
	margin: 1em 0 3em;
	font-style: italic;
	font-weight: 500;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

input[type=search] {
	display: block;
  width: calc(100% - 24px);
  margin: 1em auto;
  padding: .8em;
  border-radius: 5px;
  border: 1px solid #0005;
  font-size: 1em;
}

.hide {
	display: none!important;
}

#carbonads {
    margin: 0!important;
}
#carbon-responsive .carbon-responsive-wrap {
	border-radius: 9px;
}
#carbon-responsive {
    max-width: 100%!important;
    position: relative;
}
#carbon-responsive .carbon-img {
	flex: 0 0 180px!important;
}
#carbon-responsive .carbon-img img {
	max-width: 100%!important;
    width: 100%;
    height: auto;
}
#carbon-responsive .carbon-text {
    display: grid;
    place-content: center;
    font-size: 15px;
}
#custom-ad {
	display: grid;
}
.wall {
  height: 100%;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid hsl(0, 0%, 92%);
  text-decoration: none;
  border-radius: 0.5em;
  place-content: center;
  row-gap: 5px;
}
.wall__footer {
  display: flex;
  justify-content: space-between;
}
.wall__image img {
  height: 50px;
}
.wall__tagline {
  font-weight: 600;
}
.wall__description {
  font-size: 0.875em;
  line-height: 1.35;
}
.wall__sponsor {
  font-size: 0.625em;
  font-weight: 500;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
}
.wall__cta {
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  border-radius: 4px;
  place-self: center end;
}
/*html {
	view-transition-name: main;
	background-color: var(--c1);
}

@media not (prefers-reduced-motion) {
	::view-transition-old(main),
	::view-transition-new(main) {
	  animation: x .6s ease-out both;
	  -webkit-mask: 
	   conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) 
	     calc(50% - 20px) calc( 200% + 40px)/80px calc(50% + 21px) repeat-x,
	   conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 
	     calc(50% + 20px) calc(-100% - 40px)/80px calc(50% + 21px) repeat-x,
	   linear-gradient(#000 0 0);
	  -webkit-mask-composite: destination-out;

	}
	::view-transition-new(main) {
	  animation: y .6s .6s ease-in both;
	}

	@keyframes x {
		80%,to {-webkit-mask-position: calc(50% - 20px) 100%, calc(50% + 20px) 0%}
	}
	@keyframes y {
		0%,20% {-webkit-mask-position: calc(50% - 20px) 100%, calc(50% + 20px) 0%}
	}
}*/