---
layout: layouts/home.njk
title: Archive of CSS Tip
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% set postsCount = collections.posts | length %}

<p>Find below {{ postsCount }} CSS Tips. Don't know what to read? <a href="https://random.css-tip.com">Get a random CSS Tip!</a></p>

<input type="search" placeholder="Type something to filter the archive" aria-label="Filtering the archive content">

{% include "postslist.njk" %}

<script>
const urlParams = new URLSearchParams(window.location.search);
const s = urlParams.get('s');

let all = document.querySelectorAll('.postlist li a');
document.querySelector("input[type=search]").addEventListener("input",function(e) {
  let s = e.target.value.toUpperCase();
  for(let i = 0;i<all.length;i++) {
    if(all[i].innerText.toUpperCase().includes(s)) {
      all[i].parentNode.classList.remove('hide');
    } else {
      all[i].parentNode.classList.add('hide');
    }
  }
})

if(s) {
  document.querySelector("input[type=search]").value=s;
  document.querySelector("input[type=search]").dispatchEvent(new Event('input', { bubbles: true }));
}

</script>