---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% set postsCount = collections.posts | length %}

<p>Find below {{ postsCount }} CSS Tips. Don't know what to read? <a href="https://random.css-tip.com">Get a random CSS Tip!</a></p>

<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<div data-ea-publisher="css-challengescom" id="css-tip" data-ea-type="text" style="min-height: 100px;"></div>


{% include "postslist.njk" %}
