---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Learn CSS the easy way</h1>
<p>Welcome to CSS Tip. A small website where you can learn a new CSS trick every day. All the CSS secrets are here (Flexbox, CSS Grid, Gradients, Colors, Animation, Masking, Selectors, etc). It takes one minute to read a tip.</p>
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<div class="adaptive" data-ea-publisher="css-challengescom" id="css-tip" data-ea-type="text" style="min-height: 100px;"></div>
<p>Want to surprise yourself? <a href="https://random.css-tip.com">Get a random CSS Tip!</a></p>
<hr>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more CSS Tips can be found in <a href="/archive/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
<hr>
<p>This site is a member of <a href="https://cs.sjoy.lol/">CS.Sjoy.lol</a> webring. Cool websites doing CSS stuff!</p>
<p>Explore the Ring: <a href="https://webri.ng/webring/cssjoy/previous?via=https://css-tip.com">Previous Site</a> | 
<a href="https://webri.ng/webring/cssjoy/random?via=https://css-tip.com">Random Site</a> | 
<a href="https://webri.ng/webring/cssjoy/next?via=https://css-tip.com">Next Site</a></p>