---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 20
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Learn CSS the easy way</h1>
<p>Welcome to CSS Tip. A small website where you can learn a new CSS trick each day. All the CSS secrets are here (Flexbox, CSS grid, Gradients, Colors, Animation, Masking, Selectors, etc) </p>

<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<div data-ea-publisher="css-challengescom" id="css-tip" data-ea-type="text"></div>

<p>I takes one minute to read a tip 👇</p>
<br>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more CSS tips{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
