---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Learn CSS the easy way</h1>
<p>Learn a new CSS Trick every day and become a better web developer. All the CSS secrets are here (Flexbox, CSS Grid, Shapes, Gradients, Colors, Animations, Selectors, Variables, Masking, Clipping, etc). It takes <strong>one minute</strong> to read a tip.</p>
<div style="min-height: 126px;overflow: auto;padding-block:12px;"><script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CW7D653J&placement=css-tipcom&format=responsive" id="_carbonads_js"></script></div>
<p>Want to surprise yourself? <a href="https://random.css-tip.com">Get a random CSS Tip!</a></p>
<hr>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more CSS Tips can be found in <a href="/archive/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
<hr>
<p>This site is a member of <a href="https://cs.sjoy.lol/">CS.Sjoy.lol</a> webring. Cool websites doing CSS stuff!</p>
<p>Explore the Ring: <a href="https://webri.ng/webring/cssjoy/previous?via=https://css-tip.com">Previous Site</a> | 
<a href="https://webri.ng/webring/cssjoy/random?via=https://css-tip.com">Random Site</a> | 
<a href="https://webri.ng/webring/cssjoy/next?via=https://css-tip.com">Next Site</a></p>