<aside>
	<div id="custom-wall">
		{% set r = range(0, 2) | random %}
		{%- if r == 0 %}
		<div class="vuejs">
			<img src="/img/vuejs.svg" alt="Vue.js Logo">
			<p>The Official Certification of competence for the <span>Vue.js framework.</span></p>
			<div>
				<img height="90" width="90" src="/img/evan.webp" alt="Even You">
				<p><small>In partnership with:</small><br><strong>Evan You</strong><br>Creator of Vue.js</p>
			</div>
			<a href="https://certificates.dev/vuejs?utm_source=CSSTIP&utm_medium=website&utm_campaign=affiliate&friend=CSSTIP">Get Vue.js Certified</a>				
		</div>
		{%- else %}
		<div class="nuxt">
			<img src="/img/nuxt.svg" alt="Nuxt Logo">
			<p>The Official Certification of competence for the <span>Nuxt framework.</span></p>
			<div>
				<img height="90" width="90" src="/img/chopin.webp" alt="Sébastien Chopin">
				<p><small>In partnership with:</small><br><strong>Sébastien Chopin</strong><br>Creator of Nuxt</p>
			</div>
			<a href="https://certificates.dev/nuxt?utm_source=CSSTIP&utm_medium=website&utm_campaign=affiliate&friend=CSSTIP">Get Nuxt Certified</a>				
		</div>
		{%- endif %}

<!--<div class="sponso">
<a href="/advertise/"><small>Place your ad here</small></a>
<p>Reach a wide audience of web developers with a personalized and attractive ad.</p>
<p>Don't miss the opportunity to promote your product starting from <strong>100$/month</strong>.</p>
<a href="/advertise/">Advertise with CSS Tip</a>
</div>-->
</div>
<div style="height:350px;overflow: clip;"><script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CW7D653J&placement=css-tipcom&format=cover" id="_carbonads_js"></script></div>
<a href="https://css-loaders.com/" target="_blank">
	<img src="/img/css-loader.jpg" alt="CSS Loaders" >
</a>
<a href="https://css-pattern.com/" target="_blank">
	<img src="/img/css-pattern.jpg" alt="CSS Patterns" >
</a>
<a href="https://css-shape.com/" target="_blank">
	<img src="/img/css-shape.jpg" alt="CSS Shape" >
</a>
<a href="https://ko-fi.com/temani" target="_blank">
	<img src="/img/kofi.png" alt="Buy Me a coffe" >
</a>
</aside>