<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<link rel="icon" href="/img/fav.png" sizes="any">
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
		<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
		<link rel=canonical href="https://css-tip.com{{ page.url }}" >
		<link href="https://github.com/Afif13/" rel="me">
		<link href="https://twitter.com/ChallengesCss" rel="me">
		<meta property="og:locale" content="en_US" />
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://css-tip.com{{ page.url }}">
		<meta property="og:description" content="{{ description or metadata.description }}">
		{%- if tags == "posts" %}
		{% ogImage "_includes/og-image.njk" , { title: title } %}
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="675" />
		{%- else %}
		<meta property="og:image" content="{{ image or metadata.image }}">
		<meta property="og:image:width" content="1600" />
		<meta property="og:image:height" content="800" />
		{%- endif %}
		<meta name="twitter:card" content="summary_large_image">
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">
		{% set css %}
		  {% include "node_modules/prismjs/themes/prism-okaidia.css" %}
		  {% include "public/css/prism-diff.css" %}
		  {% include "public/css/index.css" %}
	  {% endset %}
		<style>{{ css | cssmin | safe }}</style>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<a href="/" class="home-link">CSS Tip</a>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
					<li class="nav-item"><a href="/feed/feed.xml" target="_blank">RSS Feed</a></li>
				</ul>
			</nav>
		</header>
		<main id="skip">
			{{ content | safe }}
		</main>
		<aside>
			<div id="custom-wall" style="height: 230px;"></div>
			<div style="height:400px;overflow: clip;"><script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CW7D653J&placement=css-tipcom&format=cover" id="_carbonads_js"></script></div>
			<a href="https://css-loaders.com/" target="_blank">
				<img src="/img/css-loader.jpg" alt="CSS Loaders" >
			</a>
			<a href="https://css-shape.com/" target="_blank">
				<img src="/img/css-shape.jpg" alt="CSS Shape" >
			</a>
			<a href="https://ko-fi.com/temani" target="_blank">
				<img src="/img/kofi.png" alt="Buy Me a coffe" >
			</a>
		</aside>
		<footer>
			<p>Created by <a href="https://github.com/Afif13/" target="_blank">Temani Afif</a> (<a href="https://support.temani-afif.com/" target="_blank">Support Me</a>) | <a href="https://css-generators.com/" target="_blank">CSS Generators</a> | <a href="https://css-loaders.com/" target="_blank">CSS Loaders</a> | <a href="https://css-shape.com/" target="_blank">CSS Shape</a> | <a href="https://css-pattern.com/" target="_blank">CSS Pattern</a></p>
		</footer>
	<script src="https://m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function() {
  if (typeof _bsa !== 'undefined' && _bsa) {
    _bsa.init('custom', 'CW7D653L', 'placement:css-tipcom', {
      target: '#custom-wall',
      template:
`
<a href="##statlink##" class="wall" style="background-color: ##backgroundColor##; color: ##textColor##" rel="sponsored noopener" target="_blank" title="##company## — ##tagline##">
  <div class="wall__sponsor">Sponsored by ##company##</div>
  <div class="wall__tagline">##companyTagline##</div>
  <div class="wall__description">##description##</div>
  <div class="wall__footer">
    <div class="wall__image"><img src="##logo##"></div>
    <div class="wall__cta" style="background-color: ##ctaBackgroundColor##; color: ##ctaTextColor##;">##callToAction##</div>
  </div>
</a>
`});
   _bsa.init('responsive', 'CW7DPK7N', 'placement:css-tipcom', { target: "#inline-custom" });
  }
})();
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KSNXZ63602"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-KSNXZ63602');
</script>
	</body>
</html>
