---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="prev"><a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Previous CSS Tip</a></li>{% endif %}
	{%- if nextPost %}<li class="next"><a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next CSS Tip</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
