---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

<div style="min-height: 117px;padding-bottom:15px;overflow: auto;"><script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CW7D653J&placement=css-tipcom&format=responsive" id="_carbonads_js"></script></div>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="prev"><a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Previous CSS Tip</a></li>{% endif %}
	{%- if nextPost %}<li class="next"><a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next CSS Tip</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
