---
layout: layouts/base.njk
---

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="prev"><a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">Previous CSS Tip</a></li>{% endif %}
	{%- if nextPost %}<li class="next"><a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">Next CSS Tip</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}


<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{{ content | safe }}

<div style="padding-block:2rem" id="inline-ad"><hr></div>

<h2>More CSS Tips</h2>

{%- set index = collections.posts | getCollectionItemIndex %}

<ul class="postlist" >
{%- for i in [3,2,1,-1,-2,-3] %}
  {%- set p = collections.posts[index + i] %}
  	{%- if p %}
  	<li>
		<a href="{{ p.url }}" >{% if p.data.title %}{{ p.data.title }}{% else %}<code>{{ p.url }}</code>{% endif %}</a>
	</li>
	{%- endif %}
{%- endfor %}
</ul>